ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_MODEL=
ARK_TIMEOUT_SECONDS=300
ARK_MAX_COMPLETION_TOKENS=32768
ARK_MAX_TRANSPORT_RETRIES=5
ARK_RETRY_BASE_SECONDS=2
ARK_RETRY_MAX_SECONDS=30
ARK_MIN_REQUEST_INTERVAL_SECONDS=0.75
API_HOST=127.0.0.1
API_PORT=8000
